name: Coverage

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:

  coverage:
    runs-on: ubuntu-latest

    # Not intended for forks.
    if: github.repository == 'optuna/optuna-integration'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Setup cache
      uses: actions/cache@v3
      env:
        cache-name: coverage
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/pyproject.toml') }}-v1
        restore-keys: |
          ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/pyproject.toml') }}

    - name: Setup environment
      run: |
        sudo apt-get update
        sudo apt-get -y install openmpi-bin libopenmpi-dev libopenblas-dev

    - name: Install
      run: |
        python -m pip install --upgrade pip

        pip install --progress-bar off .[test]
        pip install --progress-bar off .[all]

        # Install optuna from optuna master
        pip install git+https://github.com/optuna/optuna@master

        # Install distributed to run importance_tests/test_init tests.
        pip install distributed

        echo 'import coverage; coverage.process_startup()' > sitecustomize.py

    - name: Output installed packages
      run: |
        pip freeze --all

    - name: Output dependency tree
      run: |
        pip install pipdeptree
        pipdeptree

    - name: Tests
      env:
        OMP_NUM_THREADS: 1
        PYTHONPATH: .  # To invoke sitecutomize.py
        COVERAGE_PROCESS_START: .coveragerc  # https://coverage.readthedocs.io/en/6.4.1/subprocess.html
        COVERAGE_COVERAGE: yes  # https://github.com/nedbat/coveragepy/blob/65bf33fc03209ffb01bbbc0d900017614645ee7a/coverage/control.py#L255-L261
      run: |
        coverage run --source=optuna_integration -m pytest tests \
          --ignore tests/mxnet
        coverage combine
        coverage xml

    - name: Multi-node tests
      env:
        OMP_NUM_THREADS: 1
        PYTHONPATH: .
        COVERAGE_PROCESS_START: .coveragerc
        COVERAGE_COVERAGE: yes
      run: |
        export OMPI_MCA_rmaps_base_oversubscribe=yes
        mpirun -n 2 coverage run -m pytest tests/pytorch/test_pytorch_distributed.py
        coverage combine --append
        coverage xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
