# Run tests and integration tests on Mac, which are triggered by each master push.
# Currently, Python3.10 is only used as an environment.
# This is mainly for the sake of speed.
name: mac-tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/mac-tests.yml'
  schedule:
    - cron: '0 23 * * SUN-THU'
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository for optuna package (username/optuna)'
        required: false
        type: string
      branch_name:
        description: 'Branch name'
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  tests-mac:
    runs-on: macos-latest

    # Not intended for forks.
    if: (github.event_name == 'schedule' && github.repository == 'optuna/optuna-integration') || (github.event_name != 'schedule')
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Setup cache
      uses: actions/cache@v2
      env:
        cache-name: test
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-3.10-${{ env.cache-name }}-${{ hashFiles('**/pyproject.toml') }}-v1
        restore-keys: |
          ${{ runner.os }}-3.10-${{ env.cache-name }}-${{ hashFiles('**/pyproject.toml') }}

    - name: Setup mac environment
      run: |
        brew install libomp
        brew install open-mpi
        brew install openblas

    - name: Install
      run: |
        python -m pip install --upgrade pip
        # Install minimal dependencies and confirm that `import optuna` is successful.
        pip install --progress-bar off .
        pip install --progress-bar off .[test]
        pip install --progress-bar off .[all]

        # Install optuna from specified repository, otherwise from optuna/optuna.
        $( test ${{ inputs.repository_name }} && test ${{ inputs.branch_name }} ) \
          && pip install git+https://github.com/${{ inputs.repository_name }}@${{ inputs.branch_name }} \
          || pip install git+https://github.com/optuna/optuna@master

    - name: Output installed packages
      run: |
        pip freeze --all

    - name: Output dependency tree
      run: |
        pip install pipdeptree
        pipdeptree

    - name: Tests
      run: |
        pytest tests \
        --ignore tests/allennlp_tests \
        --ignore tests/test_mxnet.py
        --ignore tests/test_shap.py \
        --ignore tests/importance_tests/test_init.py
      env:
        OMP_NUM_THREADS: 1

    - name: Tests MPI
      run: |
        export OMPI_MCA_rmaps_base_oversubscribe=yes
        mpirun -n 2 -- pytest tests/test_chainermn.py
      env:
        OMP_NUM_THREADS: 1

    - name: Tests(Deprecated)
      run: |
        pip install "numpy<1.24"
        pytest tests/allennlp_tests
        pytest tests/test_mxnet.py
        pytest tests/test_shap.py
        pip install distributed
        pytest tests/importance_tests/test_init.py

