name: Sphinx

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  documentation:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        pip install --progress-bar off -U .[document]

        # TODO(gen740): Remove this if scikit-learn 1.7.2 is released
        pip install torch "scikit-learn<1.7.1"

    - name: Output installed packages
      run: |
        pip freeze --all

    - name: Output dependency tree
      run: |
        pip install pipdeptree
        pipdeptree

    - name: Build Document
      run: |
        cd docs
        make html
        cd ../

    - uses: actions/upload-artifact@v4
      with:
        name: built-html
        path: |
            docs/build/html
